name: GenTx Validation
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  verify-gentx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.17'
      - run: go version
      - name: Install dependencies
        run: sudo apt install -y boxes moreutils coreutils
      - name: Get changed files
        id: changes
        # Set outputs using the command.
        run: |
          echo "::set-output name=json::$(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.sha }} -- "olympus_mons/gentxs" | grep .json$ | xargs)"
      - name: Check if added GenTx and if valid
        run: |
          bash -x ./scripts/validate-gentx.sh
        env:
          DAEMON: ./build/evmosd
          CHAIN_ID: evmos_9000-2
          DENOM: aphoton
          GH_URL: https://github.com/tharsis/evmos
          BINARY_VERSION: v0.3.0
          PRELAUNCH_GENESIS_URL: https://raw.githubusercontent.com/tharsis/testnets/main/olympus_mons/genesis.json
          PROJECT_DIR: ${{ github.workspace }}
          GENTX_DIR: olympus_mons/gentxs
          GENTX_FILE: ${{ github.workspace }}/${{ steps.changes.outputs.json }}
