name: "GenTx Validation on Specific PR"

on:
  workflow_dispatch:
    inputs:
      pullrequest:
        description: Pull Request ID
        required: true

jobs:
  verify-gentx:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: pull/${{ github.event.pullrequest }}/head
      - uses: actions/setup-go@v2
        with:
          go-version: '^1.17'
      - run: go version
      - name: Install dependencies
        run: sudo apt install -y boxes moreutils coreutils
      - name: Get changed files
        id: changes
        # Set outputs using the command.
        run: |
          echo "::set-output name=changes::$(git diff --name-only --diff-filter=ACMRT ${{ github.event.pull_request.base.sha }} ${{ github.sha }} -- "olympus_mons/gentxs" | xargs)"
      - name: Check if added GenTx and if valid
        if: ${{ steps.changes.outputs.changes }}
        run: |
          bash -x ./scripts/validate-gentx.sh
        env:
          DAEMON: ./build/evmosd
          CHAIN_ID: evmos_9000-2
          DENOM: aphoton
          GH_URL: https://github.com/tharsis/evmos
          BINARY_VERSION: v0.3.0
          PROJECT_DIR: ${{ github.workspace }}
          GENTX_DIR: olympus_mons/gentxs
          GENTX_FILE: ${{ github.workspace }}/${{ steps.changes.outputs.changes }}
